/**
--- Contents
- General Styles
- Navbar
- Header Section
- About Section
- 
*/

/* General Styles */
/* normal text color:-> color: #918F8E; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 18px;
    min-width: 100%;
    background-color: #f5f5f5;
}

/* Navbar */
#navbar {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF8F2;
}

#navbar .container {
    width: 75%;
    margin: 0 auto;
    z-index: 9999px;
    position: sticky;
    padding-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Brand styles */
#navbar .container .navbar-brand {
    font-size: 45px;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

#navbar .container .navbar-brand span:nth-child(3n) {
    color: tomato;
}

/* nav links styles */
#navbar .container .navlinks {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    list-style: none;
}

#navbar .container .navlinks li {
    background-color: transparent;
}

#navbar .container .navlinks li {
    background-color: transparent;
    padding: 15px 20px;
    font-weight: lighter;
}


#navbar .container .navlinks li a {
    border: 1px solid transparent;
    line-height: 1.2;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: #585857;
    margin: 0 1vw;
}

.btn {

    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    border: 0;
    background-color: #FD6E0A;
}

#navbar .container .navlinks li:hover a,
#navbar .container .navlinks li:active a,
#navbar .container .navlinks li.active a,
.btn:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
}

/*=========
 Header Section 
 ===========*/
#header-section {
    min-width: 100%;
    min-height: 100vh;
    background: #FFF8F2 url("../images/header_bg.png") right bottom / 60% no-repeat;
    display: flex;
}

#header-section .left-side img {
    width: auto;
    padding-bottom: 20px;
    margin: 0 15%;
}

#header-section .left-side p {
    color: #DCD6D1;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    text-transform: capitalize;
    transform: rotate(270deg);
    text-indent: -35vw;
}

#header-section .middle-side h1 {
    font-size: 85px;
    margin-top: 15px;
    /* margin-bottom: 10px; */
}

#header-section .middle-side h2 {
    font-size: 3vw;
    color: #464646;
    font-weight: normal;
}

#header-section .middle-side .links a:last-child {
    color: tomato;
    background-color: transparent;
    border: 1px solid tomato;
}

#header-section .middle-side {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#header-section .middle-side p {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: normal;
    color: #918F8E;
}

#header-section .right-side {
    align-self: flex-end;
    margin-bottom: -5px;
}

/* =========
 About Section
 =============== */
#about-section>div {
    width: 75%;
    text-align: center;
    background-color: #FFF8F3;
    margin: 150px auto;
    padding: 100px;
    border-radius: 5px;
}

#about-section>div h2,
#work-section>div h2 {
    font-size: 35px;
    font-weight: 700;
}

#about-section>div h2+p,
#work-section>div h2+p {
    color: #918F8E;
    font-size: 18px;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
}

#about-section>div ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#about-section>div ul li {
    font-size: 20px;
    flex-wrap: nowrap;
    color: #918F8E;
}

#about-section>div ul li h4 {
    color: black;
}

/*=========
 Work Section 
 ===========*/
#work-section>div {
    width: 75%;
    /* padding: 50px 0; */
    text-align: center;
    margin: 0rem auto;
    border-radius: 5px;
    /* letter-spacing: 0.2; */
}

#work-section h2 {
    font-size: 35px;
}

#work-section>div>p {
    font-size: 18px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#work-section>div .cards {
    display: flex;
    gap: 1rem;
}

#work-section h3.card-heading {
    font-size: 20px;
    padding: 20px 0;
}
#work-section .card-body {
    font-size: 16px;
}

#work-section>div .cards .card {
    text-align: left;
    border-radius: 5px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 10px 150px 1px rgb(224, 224, 224);
}

#work-section>div .cards .card h3+div {
    color: #918F8E;
    letter-spacing: 0.050rem;
}

/*=========
 Resume Section 
 ===========*/
#resume-section {
    width: 75%;
    margin: 150px auto;
}

#resume-section h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#resume-section h2+div {
    min-width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: left;
}
table{
    border-collapse: separate;
    border-spacing: 20px 0;
}

#resume-section h2+div table th {
    color: #464646;
    font-weight: 700;
    font-size: 30px;
}

#resume-section h2+div tr:not(:nth-last-of-type(2),:nth-last-of-type(1))>td {
    border-spacing: 0  20px;
    /* min-width: 500px; */
    padding-right: 1rem;
    border-bottom: 1px solid #918F8E;
}

#resume-section h2+div tr>td h3 {
    color: #464646;
    font-size: 25px;
    margin: 1.2rem 0;
}

#resume-section h2+div tr>td h3+small {
    font-size: 18px;
    color: #737373;
}

#resume-section h2+div tr>td h3+small+p {
    font-size: 16px;
    margin: 1.5rem 0;
    letter-spacing: 0.050rem;
    color: #918F8E;
    padding-right: 2rem;
}

tr:last-of-type td {
    padding-top: 50px;
    text-align: center
}

/*=========
 Contact Section 
 ===========*/
#contact-section {
    min-width: 100%;
    background-color: #FFF8F3;
}

#contact-section .row {
    margin: 0 auto;
    padding: 100px 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#contact-section div.col-5 {
    max-width: calc(100vw*(5/12));
    padding-right: 5rem;
}

#contact-section div.col-7 {
    max-width: calc(100vw*(7/12));
}

#contact-section h3 {
    font-size: 2rem;
}

#contact-section h3+p {
    font-size: 16px;
    line-height: 1.5rem;
    margin: 1rem auto;
    color: #474747;
    font-weight: normal;
}

#contact-section div ul {
    width: 100px;
    margin: 2rem 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#contact-section div ul li a {
    color: tomato;
}

.form {
    color: #757575;
    padding: 20px;
    border: 0;
    border-radius: 3px;
    margin: 0.5rem auto;
    font-size: 16px;
}

.form-control {
    width: 100%;
}

.submit {
    display: inline-block;
    background-color: #FD6E0A;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 1rem;
}


/**
    Media Query
*/
